@font-face {
  font-family: 'TildaSans';
  src: url('/TildaSans-Light/TildaSans-Light.woff2') format('woff2'),
       url('/TildaSans-Light/TildaSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TildaSans';
  src: url('/TildaSans-Regular/TildaSans-Regular.woff2') format('woff2'),
       url('/TildaSans-Regular/TildaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TildaSans';
  src: url('/TildaSans-Medium/TildaSans-Medium.woff2') format('woff2'),
       url('/TildaSans-Medium/TildaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TildaSans';
  src: url('/TildaSans-Semibold/TildaSans-Semibold.woff2') format('woff2'),
       url('/TildaSans-Semibold/TildaSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TildaSans';
  src: url('/TildaSans-Bold/TildaSans-Bold.woff2') format('woff2'),
       url('/TildaSans-Bold/TildaSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TildaSans';
  src: url('/TildaSans-ExtraBold/TildaSans-ExtraBold.woff2') format('woff2'),
       url('/TildaSans-ExtraBold/TildaSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TildaSans';
  src: url('/TildaSans-Black/TildaSans-Black.woff2') format('woff2'),
       url('/TildaSans-Black/TildaSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-inter: Inter, sans-serif;
  --font-family: 'TildaSans', sans-serif;
  --font-second: 'Philosopher', serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background: #fff;
}

body {
  color: rgb(var(--foreground-rgb));

  font-family: var(--font-family);
}

:root {
	--labels-primary: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input, textarea {
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
